{% extends "layout.html" %}

<!-- OVERRIDE BLOCKS -->

{% block title %} {{error_name}} {% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block contentMain %}
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex items-center justify-center flex-col">
          <img class="lg:w-2/5 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="Error {{ error_code }} image" src="{{ error_image }}">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                {{ error_name }}
            </h1>
            <p class="mb-8 leading-relaxed">
                {{ error_description }}
            </p>
            <div class="flex justify-center">
                <a href="{{ url_for('home.index') }}"><button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
                    Volver
                </button></a>
            </div>
          </div>
        </div>
    </section>
{% endblock %}