{% extends "layout.html" %}

<!-- OVERRIDE BLOCKS -->

{% block title %} {{error_name}} {% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="content">
            <h1 class="titulo">{{error_name}}</h1>
            <p class="subtitulo">{{error_description}}</p>
            <img class="img-error" src="{{error_image}}" alt="Error {{error_code}}">  
        </div>
    </div>
{% endblock %}