{% extends "layout.html" %}
{% block  title%}Usuarios{% endblock  %}

{% block  contentMain %}
    <h2 class="text-4xl font-bold dark:text-white">Usuarios</h2>
    <br>
    <ul>
        {% for user in users %}
            <li>
                <div class="container">
                    <div class="content font-bold">
                            
                        <a class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{ user.name }}
                            </h6>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                Email: {{ user.email }}
                            </p>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                Nombre: {{ user.name + " " + user.lastname }}
                            </p>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                Estado: {{ user.active }}
                            </p>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                Confirmado: {{ user.confirmed }}
                            </p>
                        </a>
                    </div>
                </div>
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
