{% extends "layouts/" + session['user']['layout'] %}
{% block title %}Instituciones{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/notifications.css') }}">
{% endblock %}
{% block content_main %}

<div class="lg:w-full w-full mb-6 lg:mb-0 content grid flex-col xl:grid-cols-2 ">
    <div class="xl:col-start-1">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">
            Administración
        </h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
            Instituciones
        </h1>
    </div>
    
    <div class="flex flex-row-reverse p-4 w-full ">    
        <button type="button" id="defaultModalButton" data-modal-toggle="defaultModal" class="flex items-center text-white bg-indigo-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm pl-3 pr-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Añadir institucion
        </button>
    </div>
</div>
<div class="h-1 w-full bg-indigo-500 rounded"></div>
{{ Flash.flash_form() }}
<br>
<ul>

    {% if total_pages == 0 %}
        <div class="flex justify-center items-center">
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-2xl font-bold text-gray-900 dark:text-white">No hay instituciones registradas</h1>
            </div>
        </div>
    {% else %}
        {% for institution in institutions %}
            <li>
                <div class="container">
                    <div class="content font-bold">
                        <a href="{{ url_for('institutions.institution_show',institution_id=institution.id)}}"
                            class="grid grid-cols-1 md:grid-cols-2 p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <div>
                                <h6 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    {{institution.name}}</h6>
                                <p class="font-normal text-gray-700 dark:text-gray-400">{{institution.info}}</p>
                            </div>
                            <div class="flex items-center">
                                {% if institution.is_enabled %}
                                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Habilitada
                                {% else %}
                                    <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Deshabilitada
                                {% endif %}
                            </div>
                        </a>
                        
                    </div>
                </div>
            </li>
        <br>
        {% endfor %}
        <div class="flex justify-center">
            <!-- Pagination -->
            {% if total_pages > 0 %}
                {{ Paginator.GenericPaginator(page, total_pages, 'institutions.index') }}
            {% endif %}
            <!-- End pagination -->     
        </div>
    {% endif %}
</ul>

    <!-- Main modal -->
    <div id="defaultModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Añadir una nueva institución
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form action="{{ url_for('institutions.institution_add')}}" method="post">
                    <div class="grid gap-6 mb-6 sm:grid-cols-2">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        {% for input in form %}
                            <div>
                                {{ input.label(
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                ) }}
                                {{ input(
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                ) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid grid-cols-1">
                        <div class="mb-8">
                            <div class="inline-flex flex-col justify-center relative text-gray-500 w-full">
                                <label for="duenio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dueño</label>
                                <div class="relative">
                                    <input type="text" name="duenio" id="duenio" autocomplete="off" required placeholder="Ingrese el email del dueño..." class="p-2.5 pl-8 w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                                    <svg class="w-4 h-4 absolute left-2.5 top-3.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                    </svg>
                                </div>
                                <div class="hidden" id="container-list">
                                    <h3 class="mt-2 text-base">Resultados:</h3>
                                    <ul class="bg-white w-full mt-2" id="list-users">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-start">
                            <button type="submit" class="w-full px-5 py-2.5 text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                <svg class="w-6 h-6 text-white mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M9.546.5a9.5 9.5 0 1 0 9.5 9.5 9.51 9.51 0 0 0-9.5-9.5ZM13.788 11h-3.242v3.242a1 1 0 1 1-2 0V11H5.304a1 1 0 0 1 0-2h3.242V5.758a1 1 0 0 1 2 0V9h3.242a1 1 0 1 1 0 2Z"/>
                                </svg>
                                Registrar la nueva institución
                            </button>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/institution_owners_users.js') }}"></script>
{% endblock %}