{% extends "layouts/" + session['user']['layout'] %}
{% block title %} {{ institution.name }} {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/notifications.css') }}">
{% endblock %}
{% block content_main %}
    <div class="">
        <div class="content grid flex-col xl:grid-cols-3 xl:">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="toast" class="max-sm:mb-1 md:mx-2 max-md:mb-1"> <!-- Agregar espacio vertical en resoluciones pequeñas -->
                        <div class="{{ category }} text-sm text-white rounded-md shadow-lg dark:bg-gray-900" role="alert">
                            <div class="flex items-center p-2.5">
                                <p>{{ message }}</p>
                                <div class="mt-0 ml-auto">
                                    <button type="button" data-dismiss-target="#toast" class="ml-auto -mx-1.5 -my-1.5  text-gray-300 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                                        <span class="sr-only">Close</span>
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <br>

    <div>
        <!--<div class="container mx-auto py-4">-->
            <!-- Contenido de la página -->
            

            <div class="bg-white dark:bg-gray-800 shadow-md p-8 rounded-lg">
                <div class="flex justify-between mb-4 rounded-t sm:mb-5">
                    <div class="max-md:place-content-center mb-1 md:mb-0"> <!-- Agregar espacio vertical en resoluciones pequeñas -->
                        <h2 class=" text-2xl md:text-4xl font-bold dark:text-white">{{institution.name}}</h2>
                    </div>
                    <div class="flex items-end">
                        <div class="flex items-center">
                            {% if institution.is_enabled %}
                                <span class="px-2 py-1
                                font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"> Habilitada </span>
                            {% else %}
                                <span class="px-2 py-1
                                font-semibold leading-tight text-red-700 bg-red-100 rounded-sm"> Deshabilitada </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-xl text-gray-900 md:text-xl dark:text-white">
                    <h5 class="font-semibold">
                        Información de la institución
                    </h5>
                </div>
                <br>
                <div >
                    <dl class="grid grid-cols-2">
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Descripción</dt>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Días y horarios de atención</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.info}}</dd>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.atencion_days}}</dd>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Página web</dt>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Redes sociales</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.web}}</dd>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.social_networks}}</dd>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Dirección</dt>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Localización</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.address}}</dd>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.localization}}</dd>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Teléfono de contacto</dt>
                        <dt></dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{institution.phone}}</dd>
                    </dl>
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-3 sm:space-x-4">
                        <button type="button" class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" id="updateProductButton" data-modal-toggle="updateProductModal">
                            <svg aria-hidden="true" class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                            Editar
                        </button>     
                        <a href="{{url_for('services.index', institution_id = institution.id)}}">          
                            <button type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                Ver servicios
                            </button>
                        </a>
                        <a href="{{url_for('.institution_users.index', institution_id = institution.id)}}">          
                            <button type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                Ver usuarios
                            </button>
                        </a>
                    </div>     
                    
                    <div class="flex items-center space-x-3 sm:space-x-4">
                              
                        <button type="button" class="inline-flex items-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900" onclick="Delete('{{institution.id}}','institutions')">
                            <svg aria-hidden="true" class="w-5 h-5 mr-1.5 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>

    <!-- Update modal -->
    <div id="updateProductModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Editar institución
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateProductModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form id="formUpdate">
                    <div class="grid gap-6 mb-6 sm:grid-cols-2">
                        <div>
                            <label for="institution.name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de la institución</label>
                            <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.name}}" placeholder="{{institution.name}}" required maxlength="50">
                        </div>
                        <div>
                            <label for="institution.web" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Página web</label>
                            <input type="text" name="web" id="web" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.web}}" placeholder="{{institution.web}}" required maxlength="100">
                        </div>
                        <div>
                            <div id="phoneError" class="block mb-2 text-sm font-medium" style="display: none; color: red;">Por favor introduzca un telefono válido y sin espacios</div>
                            <label for="institution.phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                            <input type="phonenumber" name="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.phone}}" placeholder="{{institution.phone}}" required maxlength="50">
                        </div>
                        <div>
                            <label for="institution.social_networks" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Redes sociales</label>
                            <input type="text" name="social_networks" id="social_networks" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.social_networks}}" placeholder="{{institution.social_networks}}" required maxlength="100">
                        </div>
                        <div>
                            <label for="institution.address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                            <input type="text" name="address" id="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.address}}" placeholder="{{institution.address}}" required maxlength="100">
                        </div>
                        <div>
                            <label for="institution.is_enabled" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
                            <select id="is_enabled" name="is_enabled" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                {% if institution.is_enabled %}
                                    <option value="0" selected>Habilitada</option>
                                    <option value="1">Deshabilitada</option>
                                {% else %}
                                    <option value="0">Habilitada</option>
                                    <option value="1" selected>Deshabilitada</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <div id="localizationError" class="block mb-2 text-sm font-medium" style="display: none; color: red;">Introduzca dos coordenadas separadas por coma, sin espacios</div>
                            <label for="institution.localization" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Localización</label>
                            <input type="text" name="localization" id="localization" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.localization}}" placeholder="{{institution.localization}}" required maxlength="100">
                        </div>
                        <div>
                            <label for="institution.atencion_days" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Días y horarios de atención</label>
                            <input type="text" name="atencion_days" id="atencion_days" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{institution.atencion_days}}" placeholder="{{institution.atencion_days}}" required maxlength="100">
                        </div>
                    <div class="sm:col-span-2">
                        <label for="institution.info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Información de la institución</label>
                        <textarea id="info" name="info" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{institution.info}}" required maxlength="200">{{institution.info}}</textarea>                    
                    </div>
                    
                </form>
                
            </div>
            <div class="flex items-center space-x-4">
                <button onclick="Update('formUpdate','{{institution.id}}','institutions')" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Editar institución
                </button>
            </div>
        </div>
        
    </div>

{% endblock %}
